html,
body {
  height: 100%;
  line-height: 1.4em;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 11px;
  color: #863;
  background: linear-gradient(20deg, #ffecf2, #fff, #fffefe, #fff2f6);
}
body >nav {
  width: 100%;
  background: #fff2f8;
  z-index: 3;
  line-height: 2em;
  padding: 0 1em;
}
body >nav.keep {
  height: auto;
}
body >nav >h1,
body >nav >button {
  padding: 0.3em;
  display: inline;
  color: inherit;
}
body >nav >button {
  background-color: #ffc0dd;
  margin: 0.2em 0 0.2em 0.2em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em #ffc0dd;
}
body >nav >button:nth-of-type(3) {
  margin-left: 1em;
}
body >nav >div>.windowConfig {
  display: flex;
  padding: 0.5em 0.7em 1em;
  overflow: auto;
}
body >nav >div>.windowConfig >li {
  min-width: 10em;
  max-width: 20em;
  margin: 1em auto;
  -webkit-flex: 1 1 1;
  -moz-flex: 1 1 1;
  padding: 0.5em 2em;
}
body >nav >div>.windowConfig >li:not(:first-of-type) {
  border-left: dashed 2px #ff67ad;
}
body >nav >div>.windowConfig >li >h4 {
  margin: 0 0 1em -0.5em;
}
body >nav >div>.windowConfig >li >input {
  height: 1em;
  width: 10em;
  float: left;
  box-shadow: 0 0 1em #fff;
  position: absolute;
  display: none;
}
body >nav >div>.windowConfig >li:first-of-type button {
  display: inline;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >button:nth-of-type(2) {
  clear: left;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >button:nth-of-type(n+2) {
  margin-top: 3em;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li {
  position: relative;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li >div {
  display: none;
  position: relative;
  float: left;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li >div >div {
  position: absolute;
  width: 200px;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li >div >div >button {
  float: left;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li >label {
  float: left;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li:hover>div {
  display: block;
}
body >nav >div>.windowConfig >li:nth-of-type(n+2) >ul>li:after {
  content: "";
  display: block;
  clear: left;
}
body >nav >div>.windowConfig >li >input+button+button,
body >nav >div>.windowConfig >li >input+button+button+button {
  display: none;
  float: left;
}
body >nav >div>.windowConfig input,
body >nav >div>.windowConfig button {
  padding: 0.4em;
  border-radius: 0.5em;
  margin: 0.2em;
  box-sizing: content-box;
}
body >nav >div>.windowConfig button {
  background: #ffcde4;
  display: block;
}
body >nav >div>.fileMenu dl {
  margin: 1em;
}
body .startDay0 >li:nth-of-type(n+15):hover >section,
body .startDay1 >li:nth-of-type(n+21):hover >section,
body .startDay2 >li:nth-of-type(n+20):hover >section,
body .startDay3 >li:nth-of-type(n+19):hover >section,
body .startDay4 >li:nth-of-type(n+18):hover >section,
body .startDay5 >li:nth-of-type(n+17):hover >section,
body .startDay6 >li:nth-of-type(n+16):hover >section,
body .startDay0 >li:nth-of-type(n+15).keep >section,
body .startDay1 >li:nth-of-type(n+21).keep >section,
body .startDay2 >li:nth-of-type(n+20).keep >section,
body .startDay3 >li:nth-of-type(n+19).keep >section,
body .startDay4 >li:nth-of-type(n+18).keep >section,
body .startDay5 >li:nth-of-type(n+17).keep >section,
body .startDay6 >li:nth-of-type(n+16).keep >section {
  top: 2em;
  bottom: auto;
}
body >ul {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  position: relative;
  overflow: auto;
}
body >ul.cols4 >li {
  height: 25%;
}
body >ul.cols5 >li {
  height: 20%;
}
body >ul.cols6 >li {
  height: 16.666666666666668%;
}
body >ul >li {
  float: left;
  width: 14.285714285714286%;
  min-height: 7em;
  overflow: hidden;
  box-shadow: 0 0 6px -3px #ff7db9 inset;
}
body >ul >li:hover {
  overflow: visible;
}
body >ul >li >ul {
  padding: 0.2em 0.4em;
}
body >ul >li >ul >li {
  list-style: decimal inside;
}
body >ul >li >section,
body >ul >li:not(.keep)>section:hover {
  display: none;
}
body >ul >li:hover,
body >ul >li.keep {
  background-color: #ffecf5;
}
body >ul >li:hover >ul,
body >ul >li.keep >ul {
  position: absolute;
  width: inherit;
}
body >ul >li:hover section,
body >ul >li.keep section {
  top: auto;
  left: 2em;
  right: 2em;
  bottom: 2em;
  height: auto;
  display: block;
}
body >ul >li.keep section {
  z-index: 5;
}
body section,
body >form {
  font-size: 15px;
}
body section button,
body >form button,
body section dt,
body >form dt,
body section dd,
body >form dd {
  border-radius: 0.3em;
  box-shadow: 0 0 0.2em #ffc0dd;
  padding: 0 0.2em;
  margin: 0 0.4em 0 0;
  line-height: 1.8em;
  min-height: 1.8em;
  color: inherit;
}
body section button:hover,
body >form button:hover,
body section dt:hover,
body >form dt:hover,
body section dd:hover,
body >form dd:hover {
  background: #ffc0dd;
}
body section button,
body >form button {
  background-color: #ffc9e2;
}
body section dl,
body >form dl {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
}
body section dl dt,
body >form dl dt,
body section dl dd,
body >form dl dd {
  cursor: pointer;
}
body section dl dt,
body >form dl dt {
  background-color: #ffcde4;
  max-width: 10em;
}
body section dl dt.dragging,
body >form dl dt.dragging {
  padding: 0.5em;
  border-radius: 0.5em;
}
body section dl dd,
body >form dl dd {
  background-color: #ffdcec;
}
body >section {
  padding: 0;
  height: 2em;
}
body >section >* {
  display: none;
}
body >section >button {
  float: left;
}
body >section:not(.keep) >button.clickScheduleAdd,
body >section:not(.keep) >button:last-of-type {
  display: none;
}
body >section .clickTasks {
  display: block;
}
body >section.keep {
  padding: 2em;
  height: auto;
  z-index: 2;
}
body >section.keep >button {
  display: none;
}
body >section.keep >h1,
body >section.keep >button.clickScheduleAdd,
body >section.keep >button:last-of-type {
  display: inherit;
}
body li:hover:not(.keep)>section {
  animation: openSchedules 0.5s ease;
  -webkit-animation: openSchedules 0.5s ease;
  -moz-animation: openSchedules 0.5s ease;
}
body li>section {
  padding: 2em;
  height: 2em;
  border-radius: 1em;
  box-shadow: 0 0 6em #ffc6e0;
}
body section {
  position: fixed;
  max-height: 40%;
  overflow: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #fff2f8;
}
body section h1 {
  margin-bottom: 0.5em;
}
body section ul margin 1em .2em:after {
  display: block;
  content: "";
  clear: both;
}
body section ul li {
  margin: 0.4em 0;
}
body >form {
  padding: 2em;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffecf5;
  z-index: 5;
  box-shadow: 0 0 2em 0 #ffcde4;
}
body >form textarea,
body >form input,
body >form button {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}
body >form label>dl {
  margin: 0.5em 0;
}
body >form label>dl >dt {
  width: 6em;
  padding: 0.2em 0.5em;
  text-align: right;
}
body >form label>dl >dd {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 0.3em;
}
body >form label:nth-of-type(3)>dl {
  margin-bottom: 0;
}
body >form label:nth-of-type(3)>dl >dt {
  margin-bottom: 5em;
}
body >form button {
  position: absolute;
}
body >form button:nth-of-type(1),
body >form button:nth-of-type(2) {
  width: 2.75em;
  bottom: 2em;
}
body >form button:nth-of-type(2) {
  left: 5.25em;
}
body >form button:nth-of-type(3) {
  width: 6em;
  bottom: 4.5em;
}
body >form textarea,
body >form input {
  display: block;
  background-color: #fff9fc;
  border: none;
  box-shadow: 0 0 0.3em #ffc0dd inset;
  width: 100%;
}
body >form textarea {
  height: 7em;
}
body section>ul {
  width: 100%;
}
body section>ul >li >dl>dd:first-of-type {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
body section>ul >li >dl>dd select {
  display: inline;
  background: transparent;
  color: inherit;
  border: none;
}
body .dragging .node span {
  display: none;
}
body .dragging .node .optionpanel {
  display: none;
}
body .mindmap {
  display: none;
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #ffd9eb;
  text-align: center;
  white-space: nowrap;
}
body .mindmap:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
body .mindmap .btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
body .mindmap .btn-wrapper button {
  display: block;
  background: #fff;
  border: 0.1em #ddd solid;
  border-radius: 0.5em;
  color: #000;
  opacity: 0.4;
  padding: 0.5em;
  width: 12em;
  margin: 0.4em;
}
body .mindmap .btn-wrapper button:hover {
  opacity: 0.8;
}
body .mindmap .node {
  position: relative;
  display: inline-block;
  height: 1.2em;
  line-height: 1;
  padding: 0.1em 0.5em;
  margin: 0.2em 0;
  background-color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
}
body .mindmap .node span {
  display: none;
}
body .mindmap .node:hover span {
  display: block;
  position: absolute;
  top: -2em;
  left: 3em;
  opacity: 1;
  background: #ff3a95;
  color: #ffcde4;
  padding: 0.4em 1em;
  border-radius: 0.3em;
}
body .mindmap .node:hover span:before {
  display: block;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 1.4em;
  left: 0;
  border-style: solid;
  border-width: 1em 1em 1em 0.4em;
  border-color: #ff3a95 transparent transparent transparent;
}
body .mindmap .optionpanel {
  position: absolute;
  top: 0;
  left: 80%;
  background: #ffe6f1;
  box-shadow: 0 0 1em #ff0d7d;
  padding: 0.3em;
  z-index: 3;
  border-radius: 0.2em;
}
body .mindmap .optionpanel button,
body .mindmap .optionpanel select {
  margin: 0 0.2em;
  background-color: #ffcde4;
  color: #ff3a95;
  border: none;
  border-radius: 0.3em;
  min-width: 1.2em;
  line-height: 1.2;
}
body .mindmap .optionpanel button:hover,
body .mindmap .optionpanel select:hover {
  background-color: #ff3a95;
  color: #ffcde4;
}
body .mindmap .children {
  position: relative;
  list-style: none;
  text-align: left;
  padding: 0 0 0 0.5em;
  display: inline-block;
  vertical-align: middle;
}
body .mindmap .children:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.5em;
  border-top: 0.1em solid rgba(0,0,0,0.533);
}
body .mindmap .children__item {
  position: relative;
  padding: 0 0 0 0.4em;
  border-left: 0.1em solid rgba(0,0,0,0.533);
}
body .mindmap .children__item:before {
  content: '';
  width: 0.5em;
  border-top: 0.1em solid rgba(0,0,0,0.533);
  position: absolute;
  top: 50%;
  left: 0;
}
body .mindmap .children__item:first-child,
body .mindmap .children__item:last-child {
  border-left: 0.1em solid transparent;
}
body .mindmap .children__item:first-child:before,
body .mindmap .children__item:last-child:before {
  border-left: 0.1em solid rgba(0,0,0,0.533);
  left: -0.1em;
}
body .mindmap .children__item:first-child:not(:last-child):before {
  bottom: 0;
  border-radius: 0.5em 0 0 0;
}
body .mindmap .children__item:last-child:not(:first-child):before {
  top: 0;
  bottom: 50%;
  border-top: none;
  border-bottom: 0.1em solid rgba(0,0,0,0.533);
  border-radius: 0 0 0 0.5em;
}
.startDay0:before,
.startDay1:before,
.startDay2:before,
.startDay3:before,
.startDay4:before,
.startDay5:before,
.startDay6:before {
  display: block;
  content: "";
  float: left;
  height: 1px;
}
.startDay0:before {
  width: 0%;
}
.startDay1:before {
  width: 14.285714285714286%;
}
.startDay2:before {
  width: 28.571428571428573%;
}
.startDay3:before {
  width: 42.85714285714286%;
}
.startDay4:before {
  width: 57.142857142857146%;
}
.startDay5:before {
  width: 71.42857142857143%;
}
.startDay6:before {
  width: 85.71428571428572%;
}
.day:not(:nth-of-type(n+8)):before {
  display: block;
  position: absolute;
  top: 0;
  width: 14.285714285714286%;
  height: 1em;
  z-index: -1;
}
.day >span:first-child {
  background-color: #efe;
}
.day6 >span:first-child {
  background-color: #e7f3ff;
  color: #07e;
}
.day0 >span:first-child,
.holiday >span:first-child {
  background-color: #ffdbf3;
  color: #e60099;
}
.day0 .holidayName,
.holiday .holidayName {
  font-size: 70%;
  font-weight: 300;
  color: #ff14b1;
}
.today {
  background-color: #ffd;
}
.day0:not(:nth-of-type(n+8)):before {
  content: "日";
  background-color: #fce;
}
.day1:not(:nth-of-type(n+8)):before {
  content: "月";
  background-color: #fd9;
}
.day2:not(:nth-of-type(n+8)):before {
  content: "火";
  background-color: #cfd;
}
.day3:not(:nth-of-type(n+8)):before {
  content: "水";
  background-color: #edf;
}
.day4:not(:nth-of-type(n+8)):before {
  content: "木";
  background-color: #fde;
}
.day5:not(:nth-of-type(n+8)):before {
  content: "金";
  background-color: #ffd;
}
.day6:not(:nth-of-type(n+8)):before {
  content: "土";
  background-color: #def;
}
body>ul>li>span:first-child {
  line-height: 1;
  font-size: 1.5em;
  display: block;
  font-weight: 900;
}
.dragToMonth,
.dragToYear,
.dragToSomeday,
.dragToNextMonth,
.dragToPrevMonth {
  position: fixed;
  background-color: #ff67ad;
  border: solid 0.5em #ffdfee;
  color: #ffdfee;
  z-index: 12;
  text-align: center;
  font-size: 1.2em;
}
.dragTo {
  display: none;
  opacity: 0.5;
  box-sizing: content-box;
}
.dragToMonth,
.dragToYear,
.dragToSomeday {
  width: 4em;
  height: 1em;
  padding: 0.5em 2em;
  bottom: 0;
  border-radius: 5em 5em 0 0/3em 3em 0 0;
  border-bottom: none;
  margin: auto;
}
.dragToYear {
  left: 0;
  right: 0;
}
.dragToSomeday {
  left: -20em;
  right: 0;
}
.dragToMonth {
  left: 0;
  right: -20em;
}
.dragToNextMonth,
.dragToPrevMonth {
  top: 50%;
  bottom: 50%;
  margin: -5em 0;
  padding: 3.5em 0.25em;
  width: 2em;
  height: 1em;
}
.dragToNextMonth {
  border-radius: 3em 0 0 3em/5em 0 0 5em;
  border-right: none;
  right: 0;
}
.dragToPrevMonth {
  border-radius: 0 3em 3em 0/0 5em 5em 0;
  border-left: none;
  left: 0;
}
.dragging {
  position: fixed;
  z-index: 10;
}
.windowBar {
  cursor: pointer;
}
.scheduleHidden {
  display: none;
}
.dateOverlap {
  display: none;
}
.scheduleStatus3:not(option) {
  opacity: 0.35;
}
.scheduleStatus4:not(option) {
  opacity: 0.2;
}
.scheduleTitle {
  cursor: pointer;
}
@-moz-keyframes openSchedules {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes openSchedules {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes openSchedules {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes openSchedules {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
